.unique-container {
    @media screen and (min-width: 1200px) {
        width: 1136px;
        height: 476px;
        margin-left: auto;
        margin-right: auto;
        padding-left: 32px;
        padding-right: 32px;
    }

    @media screen and (min-width: 320px) {

        max-width: 375px;

        position: absolute;
        width: 335px;
        height: 1376px;

    }


    @media screen and (min-width: 768px) {

        max-width: 768px;
        position: absolute;
        width: 704px;
        height: 778px;

    }
}









img {

    @media screen and (min-width: 1200px) {
        background-color: transparent;

        margin-top: 28px;
        margin-right: 36px;
        margin-bottom: 36px;
        margin-left: 28px;
    }

    @media screen and (min-width: 320px) {

        width: 224px;
        height: 171px;
        margin-right: auto;
        margin-left: auto;
        position: center;


    }

    @media screen and (min-width: 768px) {
        width: 224px;
        height: 171px;
        margin-right: auto;
        margin-left: auto;
        position: center;
    }


}

picture {}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0;
    margin-bottom: 0;
    text-decoration: none;
}

li {
    list-style-type: none;
}

body {

    font-family: 'Montserrat', sans-serif;
}



.unique-overlay-container {
    @media screen and (min-width: 1200px) {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 0px;


        position: absolute;
        width: 100%;
        height: 100%;
        left: 20px;
        top: 20px;
    }


    @media screen and (min-width: 320px) {
        position: absolute;
        width: 279px;
        height: 214px;
    }

    @media screen and (min-width: 768px) {
        position: absolute;
        width: 280px;
        height: 214px;
    }


}

.unique-buttons {
    display: flex;
    gap: 6px;
    margin-bottom: 14px;


}

.unique-components {}

.unique-components-title {
    @media screen and (min-width: 1200px) {
        margin-top: 128px;
        margin-right: 362px;
        margin-left: 362px;
        margin-bottom: 28px;
        text-align: center;

        width: 411px;
        height: 56px;

        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 600;
        font-size: 24px;
        line-height: 28px;
        letter-spacing: -0.03em;
        text-transform: uppercase;
        color: #111111;
    }


    @media screen and (min-width: 320px) {
        width: 283px;
        height: 72px;
        font-size: 20px;
        line-height: 24px;

        margin-right: auto;
        margin-left: auto;
        margin-bottom: 24px;

        text-align: center;
        letter-spacing: -0.03em;
        text-transform: uppercase;
    }

    @media screen and (min-width: 768px) {
        margin-right: auto;
        margin-left: auto;
        margin-bottom: 28px;

        text-align: center;
    }


}

.highlight {
    color: #FD9222;
}

.unique-components-description {
    @media screen and (min-width: 1200px) {
        width: 486px;
        height: 72px;

        margin-left: 325px;
        margin-right: 325px;
        margin-top: 0;
        margin-bottom: 50px;

        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 18px;


        text-align: center;
        letter-spacing: -0.02em;

        color: #111111;

        transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }


    @media screen and (min-width: 320px) {
        width: 335px;
        height: 108px;
        font-size: 14px;
        line-height: 18px;
        text-align: center;
        letter-spacing: -0.02em;

        margin-right: auto;
        margin-left: auto;
        margin-bottom: 32px;
    }

    @media screen and (min-width: 768px) {
        margin-right: auto;
        margin-bottom: 50px;
        margin-left: auto;

        text-align: center;
    }

}

.unique-components-list {
    @media screen (min-width: 1200px) {
        display: flex;
        align-items: center;
        padding: 0px;
        margin: 0;
        gap: 19px;


        height: 270px;
    }




    @media screen and (min-width: 320px) {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 0px;
        gap: 20px;

        width: 335px;
        height: 1140px;
    }


    @media screen and (min-width: 768px) {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        flex-wrap: wrap;
        padding: 0px;
        gap: 32px;


        width: 704px;
        height: 572px;
    }

}






.unique-components-list-item-chocolate {

    @media screen and (min-width: 1200px) {
        width: 270px;
        height: 270px;

        background: #FD9222;
        border-radius: 15px;


        flex: none;

        flex-grow: 0;
    }

    @media screen and (min-width: 320px) {
        width: 335px;
        height: 270px;
    }


    @media screen and (min-width: 768px) {
        box-sizing: border-box;

        width: 336px;
        height: 270px;

        order: 0;
    }
}

.unique-components-list-item-milk {
    @media screen and (min-width: 1200px) {
        box-sizing: border-box;

        width: 270px;
        height: 270px;

        background: #FFFFFF;
        border: 1px solid #FD9222;
        border-radius: 15px;



        flex: none;

        flex-grow: 0;
    }


    @media screen and (min-width: 320px) {
        width: 335px;
        height: 270px;
    }


    @media screen and (min-width: 768px) {
        box-sizing: border-box;

        width: 336px;
        height: 270px;
        order: 2;
    }
}

.unique-components-list-item-nuts {
    @media screen and (min-width: 1200px) {
        width: 270px;
        height: 270px;

        background: #1E1823;
        border-radius: 15px;



        flex: none;

        flex-grow: 0;
    }


    @media screen and (min-width: 320px) {
        width: 335px;
        height: 270px;
    }


    @media screen and (min-width: 768px) {
        box-sizing: border-box;

        width: 336px;
        height: 270px;

        order: 3;
    }
}

.unique-components-list-item-semi-sweet {

    @media screen and (min-width: 1200px) {
        box-sizing: border-box;

        width: 270px;
        height: 270px;

        background: #FFFFFF;
        border: 1px solid #FD9222;
        border-radius: 15px;



        flex: none;

        flex-grow: 0;
    }




    @media screen and (min-width: 320px) {
        width: 335px;
        height: 270px;
    }


    @media screen and (min-width: 768px) {
        box-sizing: border-box;

        width: 336px;
        height: 270px;

        order: 1;
    }
}

.unique-components-wrapper {
    position: relative;
    z-index: 1;

}



.unique-components-list-item-img {
    background-color: transparent;
}

.unique-components-additional-information {
    position: relative;
    overflow: hidden;

}

.unique-components-wrapper-overlay {
    @media screen and (min-width: 1200px) {
        display: none;
        background-color: white;
        width: 270px;
        height: 270px;
        margin: 0;
        z-index: 1;
    }



    @media screen and (min-width: 320px) {
        width: 335px;
        height: 270px;
    }

    @media screen and (min-width: 768px) {
        width: 336px;
        height: 270px;
    }



}

.unique-components-additional-information:hover .unique-components-wrapper-overlay,
.unique-components-additional-information:focus .unique-components-wrapper-overlay {
    display: block;
}




.unique-components-additional-information:hover .unique-components-wrapper-overlay {
    transform: translateY(-100%);
}

.unique-components-additional-information:focus .unique-components-wrapper-overlay {
    transform: translateY(-100%);
}



.unique-overlay-title {
    width: 163px;
    height: 22px;

    margin-left: 0px;
    margin-top: 0px;
    margin-right: auto;
    margin-bottom: 8px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;

    text-decoration: none;

    letter-spacing: -0.03em;
    text-transform: uppercase;

    color: #111111;


}

.semi {
    @media screen and (min-width: 1200px) {
        width: 214px;
        height: 44px;
    }


    @media screen and (min-width: 320px) {
        width: 241px;
        height: 22px;
    }

    @media screen and (min-width: 768px) {
        width: 241px;
        height: 22px;
    }


}

.unique-component-button-chocolate {
    text-decoration: none;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 6px 16px;
    gap: 6;

    width: 81px;
    height: 24px;

    background: #FD9222;
    border-radius: 35px;
    border-color: transparent;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
    align-items: center;
    color: #FFFFFF;

}

.unique-component-button-milk {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 6;

    width: 54px;
    height: 24px;

    background: #FD9222;
    border-radius: 35px;
    border-color: transparent;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
    align-items: center;
    color: #FFFFFF;

    margin-top: 0;
    margin-left: 20;
}

.unique-component-button-nuts {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 6;

    width: 55px;
    height: 24px;

    background: #FD9222;
    border-radius: 35px;
    border-color: transparent;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
    align-items: center;
    color: #FFFFFF;
}

.unique-component-button-semi-sweet {

    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 6;

    width: 114px;
    height: 24px;

    background: #FD9222;
    border-radius: 35px;
    border-color: transparent;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
    display: flex;
    align-items: center;


    color: #FFFFFF;
}

.unique-benefit-button {
    text-decoration: none;
    box-sizing: border-box;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;



    width: 93px;
    height: 24px;



    background: #FAFAFA;


    border: 1px solid #FD9222;
    border-radius: 35px;



    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
    /* identical to box height, or 120% */

    display: flex;
    align-items: center;

    color: #111111;
}

.unique-component-description {

    @media screen and (min-width: 1200px) {
        width: 230px;
        height: 162px;

        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 18px;
        letter-spacing: -0.02em;

        color: #111111;

        text-decoration: none;
        flex: none;
        flex-grow: 0;
    }


    @media screen and (min-width: 320px) {
        width: 280px;
        height: 146px;
    }

    @media screen and (min-width: 768px) {
        width: 280px;
        height: 146px;
    }
}

.unique-components-list-title-chocolate {
    position: absolute;

    height: 18px;

    margin-right: 114px;
    margin-bottom: 28px;
    margin-left: 28px;
    margin-top: 0;


    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;


    letter-spacing: -0.02em;
    text-transform: uppercase;

    color: #FFFFFF;
}

.unique-components-list-title-milk {
    position: absolute;

    height: 18px;

    margin-right: 206px;
    margin-bottom: 28px;
    margin-left: 28px;
    margin-top: 0;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;


    letter-spacing: -0.02em;
    text-transform: uppercase;

    color: #111111;
}

.unique-components-list-title-nuts {
    position: absolute;

    height: 18px;

    margin-right: 208px;
    margin-bottom: 28px;
    margin-left: 28px;
    margin-top: 0;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;


    letter-spacing: -0.02em;
    text-transform: uppercase;

    color: #FFFFFF;
}

.unique-components-list-title-semi-sweet {
    position: absolute;

    width: 191px;
    height: 18px;

    margin-right: 51px;
    margin-bottom: 28px;
    margin-left: 28px;
    margin-top: 0;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;


    letter-spacing: -0.02em;
    text-transform: uppercase;

    color: #111111;
}